<br></br>
<form action="/tomatoes" method="POST">
  <h3>Contribute to the Plant Library!</h3>
  <br></br>

  <label><strong>Variety: </strong></label>
  <input type="text" name="variety">
  <br></br>

  <label><strong>Growth Type*: </strong></label>
  <input type="radio" name="indeterminate" value="indeterminate"> Indeterminate
  <input type="radio" name="determinate" value="determinate"> Determinate<br>
  <br>

  <label><strong>Days to Fruit: </strong></label>
  <input type="text" name="days">
  <br></br>

  <p><strong>Details: </strong></p>
  <textarea id="detail" name="details" placeholder="Feel free to include information like the flavor profile, average size, history and more!" rows="5" cols="50">
  </textarea>
  <br></br>
  <br></br>
  <input type="submit" name="submit" value="Submit">
  <br></br>

  <p>*Growth type refers to whether or not the variety is indeterminate or determinate.
    <br>
  Indeterminate tomato plants grow and produce fruit until the frost kills them.
  <br>
  Determinate tomato plants stop growing and die after the fruit ripens.</p>
</form>
