<form action="/tomatoes/new" method="POST">
  <h3>Contribute to the Plant Library</h3>
  <br></br>

  <label>Variety: </label>
  <input type="text" name="variety">
  <br></br>

  <label>Growth Type*: </label>
  <input type="text" name="growth_type">
  <br></br>

  <label>Days to Fruit:</label>
  <input type="text" name="days">
  <br></br>

  <label>Details:</label>
  <input type="text" name="details">
  <br></br>

  <input type="submit" name="submit" value="Submit">
  <br></br>

  <p>*Growth type refers to whether or not the variety is indeterminate or determinate.
    <br>
  Indeterminate tomato plants grow and produce fruit until the frost kills them.
  <br>
  Determinate tomato plants stop growing and die after the fruit ripens.</p>
</form>
