<h2>Welcome to the Plant Library!</h2>
<br>
<!-- Note to self: goal is to iterate through seeded database after seeding the database -->
<p><a href="/tomatoes/new">Create</a> a New Variety of Tomato</p>
<br>

<h3>Current Tomato Varieties:</h3>
<br>
<%@all_tomatoes.each do |tomato|%>
  <p><strong>Variety: </strong><%=tomato.variety%>
  <br><strong>Growth Type: </strong><%=tomato.growth_type%>
  <br><strong>Days: </strong><%=tomato.days%>
  <br><strong>Details: </strong><%=tomato.details%></p>
  <br>
<%end%>
