<h2>Welcome to the Plant Library!</h2>
<h3>Featuring: Tomato Varieties</h3>
<br></br>
<!-- Note to self: goal is to iterate through seeded database after seeding the database -->
<p><a href="/tomatoes/new">Create</a> a New Variety of Tomato</p>
