<form action="/edit_account" method="POST">
  <h2>Your Current User Information:</h2>
  <br></br>
  <p><strong>Username: </strong><%=@user.username%></p>
  <p><strong>Email: </strong><%=@user.email%></p>
  <br></br>

  <h2>Update Your Account Below:</h2>
  <p><Strong>Please note: </strong>submitting a form with an empty</p>
  <p>entry will result in being redirected back to this page.</p>
  <label><strong>Username: </strong><label>
  <input type="text" name="username" id="username" value="<%@user.username%>">
  <br></br>

  <label><strong>Password: </strong></label>
  <input type="password" name="password" id="password" value="<%@user.password%>">
  <br></br>

  <label><strong>Email Address: </strong></label>
  <input type="text" name="email" id="email" value="<%@user.email%>">
  <br></br>

  <input type="submit" name="submit" value="Update Your Account">
</form>
