<form action="/login" method="POST">
<h2>Sign into to Your Account</h2>
<br></br>

<label><strong>Username: </strong></label>
<input type="text" id="username" name="username">
<br></br>

<label><strong>Password: </strong></label>
<input type="password" id="password" name="password">
<br></br>

<input type="submit" name="log-in" value="Log In">
<p>Not a user? Create an account <a href="/signup">here</a></p>
</form>
