<form action="/signup" method="POST">
  <h2>Create a User Account</h2>
  <br></br>
  <% if flash.has?(:info_taken) %>
      <%= flash[:info_taken] %>
  <% end %>
  <br></br>

  <label><strong>Username: </strong></label>
  <input type="text" id="username" name="username">
  <br></br>

  <label><strong>Password: </strong></label>
  <input type="password" id="password" name="password">
  <br></br>

  <label><strong>Email Address: </strong></label>
  <input type="text" id="email" name="email">
  <br></br>

  <input type="submit" id="submit" value="Create Your Account">
  <p>Already have an account? Log-in <a href="/login">here</a></p>

</form>
