<form action="/signup" method="POST">
  <h2>Create a User Account</h2>
  <br></br>

  <label>Username: </label>
  <input type="text" id="username" name="username">
  <br></br>

  <label>Password: </label>
  <input type="password" id="password" name="password">
  <br></br>

  <label>Email Address: </label>
  <input type="text" id="email" name="email">
  <br></br>

  <input type="submit" id="submit" value="Create Your Account">

</form>
