<h2>Welcome, <%=@user.username%>!</h2>
<br></br>
<h4>Your Account Information;</h4>
<p><strong>Username: </strong><%=@user.username%></p>
<p><strong>Email Address: </strong><%=@user.email%></p>
<p>Click <a href="/edit_account">here</a> to edit your account information</p>
<br><br>
