<h2>Welcome, <%=@user.username%>!</h2>
<br></br>
<h4>Your Account Information;</h4>
<p>Username: <%=@user.username%></p>
<p>Email Address: <%=@user.email%></p>
<p>Click <a href="/edit_account">here</a> to edit your account information</p>
<br><br>
