<!doctype html>
<html>
  <head>
      <title>Green Thumb Fun</title>
      <style>
          body{
              background-color: rgb(194, 214, 214);
          }

          h1{
              text-align: center;
          }

          ul {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            background-color: rgb(61, 92, 92);
            text-align: center;
          }

          li {
            display: inline;
          }

          li a {
              display: inline-block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
          }

          li a:hover {
              background-color: rgb(82, 122, 122);
          }

          #seedling_img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
      </style>
  </head>

  <body>
    <h1>Green Thumb Fun <img src="https://image.flaticon.com/icons/svg/324/324983.svg" width="30"></h1>
    <ul>
      <li><a class="active" href="/"><font size="4.5">Home</font></a></li>
      <li><a href="/login"><font size="4.5">Login</font></a></li>
      <li><a href="/slugify"><font size="4.5">Profile</a></li>
      <li><a href="/tomatoes/all"><font size="4.5">Plant Library</font></a></li>
    </ul>
      <img id="seedling_img" src="http://community.cswg.com/images/uploads/gardenicon-01.png" width="300">

    <center><%= yield %></center>

  </body>

</html>
